<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
        </sectionGroup>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Oleg.Kleyman.Xbmc.Copier.Core.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <Oleg.Kleyman.Xbmc.Copier.Core.Settings>
            <setting name="UnrarPath" serializeAs="String">
                <value>C:\Program Files\WinRAR\unrar.exe</value>
            </setting>
            <setting name="MoviesPath" serializeAs="String">
                <value>C:\Videos\Movies</value>
            </setting>
            <setting name="TvPath" serializeAs="String">
                <value>C:\Videos\Tv</value>
            </setting>
        </Oleg.Kleyman.Xbmc.Copier.Core.Settings>
    </applicationSettings>
</configuration>