<?xml version="1.0"?>

<configuration>
  <configSections>
    <section name="XbmcCopierConfiguration"
             type="Oleg.Kleyman.Xbmc.Copier.Core.XbmcCopierConfigurationSection, Oleg.Kleyman.Xbmc.Copier.Core" />
  </configSections>
  <XbmcCopierConfiguration tvPath="C:\Videos\Tv" moviePath="C:\Videos\Movies">
    <movieFilters>
      <filter value="\.720P\.|\.1080P\.|\.DVDRIP\.|\.PAL\.DVDR\.|\.NTSC\.DVDR\.|\.XVID\." />
      <filter value="testing" />
    </movieFilters>
    <tvFilters>
      <filter value="\.S\d{2}E\d{2}\." />
    </tvFilters>
  </XbmcCopierConfiguration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
</configuration>