<?xml version="1.0" encoding="utf-8"?>

<configuration>
  <configSections>
    <section name="XbmcCopierConfiguration"
             type="Oleg.Kleyman.Xbmc.Copier.Core.XbmcCopierConfigurationSection, Oleg.Kleyman.Xbmc.Copier.Core" />
    <section name="rarExtractorConfiguration"
             type="Oleg.Kleyman.Core.Configuration.RarExtractorConfigurationSection, Oleg.Kleyman.Core" />
  </configSections>

  <rarExtractorConfiguration unrarPath="C:\Program Files\WinRAR\unrar.exe" />

  <XbmcCopierConfiguration tvPath="C:\Videos\Tv" moviePath="C:\Videos\Movies">
    <movieFilters>
      <filter value="\.720P\.|\.1080P\.|\.DVDRIP\.|\.PAL\.DVDR\.|\.NTSC\.DVDR\.|\.XVID\." />
    </movieFilters>
    <tvFilters>
      <filter value="\.S\d{2}E\d{2}\." />
    </tvFilters>
  </XbmcCopierConfiguration>

</configuration>