<?xml version="1.0" encoding="utf-8"?>

<configuration>
  <configSections>
    <section name="XbmcCopierConfiguration"
       type="Oleg.Kleyman.Xbmc.Copier.Core.XbmcCopierConfigurationSection, Oleg.Kleyman.Xbmc.Copier.Core"/>
  </configSections>
  <XbmcCopierConfiguration unrarPath="C:\Program Files\WinRAR\unrar.exe" tvPath="C:\Videos\Tv" moviePath="C:\Videos\Movies">
  </XbmcCopierConfiguration>
</configuration>