<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="Oleg.Kleyman.Utorrent.Core.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
    </sectionGroup>
    <section name="specFlow" type="TechTalk.SpecFlow.Configuration.ConfigurationSectionHandler, TechTalk.SpecFlow"/>
  </configSections>
  <applicationSettings>
    <Oleg.Kleyman.Utorrent.Core.Properties.Settings>
      <setting name="Url" serializeAs="String">
        <value>http://localhost.:8085/gui</value>
      </setting>
      <setting name="Username" serializeAs="String">
        <value>OKleyman</value>
      </setting>
      <setting name="Password" serializeAs="String">
        <value>SomePassword</value>
      </setting>
    </Oleg.Kleyman.Utorrent.Core.Properties.Settings>
  </applicationSettings>

  <specFlow>
    <stepAssemblies>
      <stepAssembly assembly="Oleg.Kleyman.Tests.Integration"/>
    </stepAssemblies>
  </specFlow>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.1"/></startup></configuration>
