<?xml version="1.0" encoding="utf-8"?>

<configuration>
  <configSections>
    <section name="XbmcCopierConfiguration"
       type="Oleg.Kleyman.Xbmc.Copier.Core.XbmcCopierConfigurationSection, Oleg.Kleyman.Xbmc.Copier.Core"/>
  </configSections>
  <applicationSettings>
    <Oleg.Kleyman.Xbmc.Copier.Core.Settings>
      <setting name="UnrarPath" serializeAs="String">
        <value>
          C:\Program Files\WinRAR\unrar.exe
        </value>
      </setting>
      <setting name="MoviesPath" serializeAs="String">
        <value>C:\Videos\Movies</value>
      </setting>
      <setting name="TvPath" serializeAs="String">
        <value>C:\Videos\Tv</value>
      </setting>
    </Oleg.Kleyman.Xbmc.Copier.Core.Settings>
  </applicationSettings>
  <XbmcCopierConfiguration unrarPath="C:\Program Files\WinRAR\unrar.exe" tvPath="C:\Videos\Tv" moviePath="C:\Videos\Movies">
    <movieFilters>
      <filter value="\.720P\.|\.1080P\.|\.DVDRIP\.|\.PAL\.DVDR\.|\.NTSC\.DVDR\.|\.XVID\." />
      <filter value="testing" />
    </movieFilters>
    <tvFilters>
      <filter value="\.S\d{2}E\d{2}\." />
    </tvFilters>
  </XbmcCopierConfiguration>
</configuration>