<?xml version="1.0" encoding="utf-8"?>

<configuration>
  <configSections>
    <section name="rarExtractorConfiguration"
             type="Oleg.Kleyman.Core.Configuration.RarExtractorConfigurationSection, Oleg.Kleyman.Core" />
  </configSections>
  <rarExtractorConfiguration unrarPath="C:\Program Files\WinRAR\unrar.exe" />
</configuration>